<h2>¡Hola <%= nombre %> <%= apellido %>!</h2>
<p>Desde ParkUD Colombia estamos felices de tenerte así que a continuación te daré tus credenciales de inicio de sesión.</p>
<p><b>Usuario:</b> <%= usuario %></p>
<p><b>Contraseña:</b> <%= password %></p>
<p>¡Saludos!</p>
<p>Este es un correo electrónico personalizado para <%= nombre %> <%= apellido %>.</p>